.titleContainer {
	text-align: center;
}

.logoContainer {
	margin: 0 0 2vh 0;
}

.title {
	font-size: clamp(2.5rem, 1.5vmax, 4rem);
	text-align: center;
	margin: 0;
}

.subtitle {
	font-size: clamp(1rem, 1vmax, 1.8rem);
	color: #d4d4d4;
	font-weight: 400;
	margin: 0;
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1vw;
	margin: 2vh 0 0 0;
}

.icons > * {
	padding: 0.4rem;
	background: #202020;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
