.mainContainer {
	min-height: 100vh;
	max-width: 100vw;
	padding: 4vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3vh;
	overflow-x: hidden;
}

.metamaskButton {
	font-size: clamp(1.5rem, 1vmax, 2rem);
	padding: 0.7rem 1.6rem;
	border-radius: 0.5rem;

	background-color: #202020;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	gap: 1vmin;
}

.input {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	height: 60px;
	gap: 10px;
	max-width: 100%;
}

.inputField {
	font-size: clamp(1.5rem, 1vmax, 2rem);
	height: 100%;
	padding: 0.5rem;
	border: none;
	width: clamp(150px, 90vw, 600px);
	border-radius: inherit;
	padding: 1rem;
	background: transparent;
	outline: none;
	background-color: #0e0e0e;
}

.inputButton {
	background-color: #e32ce7;
	cursor: pointer;
	height: 100%;
	width: clamp(50px, 90vw, 70px);
	padding: 0.5rem;
	border-radius: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes spinAnimation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loadingIcon {
	animation: spinAnimation 1s linear infinite;
}
